{% extends 'base.html' %}

{% url 'register' as nav_register %}
{% url 'forgotPass' as nav_forgotPass %}

{% load static %}

{% block title %} Login with {{block.super}} {% endblock %}
{% block topbar %}{% endblock topbar %}
{% block navbar %}{% endblock navbar %}

{% block content %}
<style>
    .error {
        color: red;
    }
    .form-links {
        line-height: 2;
    }
</style>
<!-- WRAPPER-->
<div class="content">
    <div class="page-login rlp">
        <div class="container">
            <div class="login-wrapper rlp-wrapper">
                <div class="login-table rlp-table">
                    <img src="{% static 'assets/images/logo.png' %}" alt="Logo" style="width: 120px; height: 120px; margin-bottom: -20px;" class="login hvr hvr-float"/>
                    <div class="login-title rlp-title">login</div>
                    {% if message %}
                        <h4 class="text-danger"> {{ message }} </h4>
                    {% endif %}
                    <form method="POST" id="loginForm">
                        {% csrf_token %}
                        <div class="login-form bg-w-form rlp-form">
                            <table>
                                <div class="row">
                                    {% for field in form.visible_fields %}
                                    <div class="col-md-12">
                                        <label for="{{field.id_for_label}}" class="control-label form-label">{{field.label}} <span class="highlight">*</span></label>
                                        {{field.errors}}
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </table>
                            <a class="form-links" href="#">Forgot Password?</a><br>
                            <a class="form-links" href="{% url 'register' %}">Don't have an account?</a>
                        </div>
                        <div class="login-submit">
                            <button type="submit" class="btn btn-login btn-green"><span>sign in</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'assets/libs/validation/jquery.validate.js' %}"></script>
<script>

$().ready(function() {
    // validate form on keyup
    $("#loginForm").validate({
        rules: {
            email: {
                required: true,
                email: true,
                normalizer: function( value ) 
                {
                    return $.trim( value );
                }
            },
            password: {
                required: true,
                minlength: 8
            },
        },
        messages: {
            email: {
                required: "Invalid email address",
            },
            password: {
                required: "Please provide a password",
                minlength: "Your password must be at least 8 characters long"
            },
        }
    });
});
</script>
{% endblock content %}
{% block go_to_top %}{% endblock go_to_top %}
{% block footer %}{% endblock footer %}