{% extends 'base.html' %}
{% load static %}

{% url 'homepage' as 'nav_home' %}
{% block title %} Reset Password | {{block.super}} {% endblock %}
{% block topbar %}{% endblock topbar %}
{% block navbar %}{% endblock navbar %}

{% block content %}
<!-- WRAPPER-->
<div class="content">
    <div class="page-login rlp">
        <div class="container">
            <div class="login-wrapper rlp-wrapper">
                <div class="login-table rlp-table">
                    <a href="../homepage/">
                        <img src="{% static 'assets/images/logo.png' %}" alt="Logo" style="width: 120px; height: 120px; margin-bottom: -20px;" class="login"/>
                    </a>
                    <div class="login-title rlp-title">Reset Password</div>
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        <div class="login-form bg-w-form rlp-form">
                            <table>
                                <div class="row">
                                    {% for field in form.visible_fields %}
                                    <div class="col-md-12">
                                        <label for="{{field.id_for_label}}" class="control-label form-label">{{field.label}} <span class="highlight">*</span></label>
                                        {{field.errors}}
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </table>
                        </div>
                        <div class="login-submit">
                            <button type="submit" class="btn btn-login btn-green"><span>Reset</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}