{% extends 'base.html' %}
{% load static %}
{% block title %} Edit Board | {{block.super}} {% endblock %}
{% block topbar %} {% endblock %}
{% block content %}

<style>
    .test:after {
        content: '\2807';
        font-size: 25px;
    }
    button { margin-top: 5px;}
</style>
<div class="section section-padding courses">
    <div class="container">
        
        <div class="courses-wrapper">

            <!-- Tab panes-->
            <div class="tab-content courses-content" style="margin-bottom: 80px; margin-top: -20px;">
                <!-- boards panel -->
                <div id="#" role="tabpanel" class="tab-pane fade in active">
                    <div class="style-show style-grid row">
                        <div class="col-sm-12">
                            <div class="news-detail">
                                <div class="news-comment">
                                    <div class="panel panel-default col-md-12" style="border: solid 1px #86bc42; margin-left: 5px;">
                                        <!-- Default panel contents -->
                                        <div class="panel-heading text-left">
                                            <span class="h3 course-syllabus-title underline">Edit Board</span>
                                            <span class="pull-right">
                                                Board createdOn
                                            </span>
                                        </div>
                                        <div class="panel-body text-justify">
                                            <br>
                                            <div style="font-size: 1.3rem">
                                                <div class="col-md-12">
                                                    <form action="#" method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <input type="text" name="boardTitle" id="id_boardTitle" value="" placeholder="Enter The Board Title" class="form-control form-input" required>
                                                        <br>
                                                        <textarea name="boardDescription" id="boardForm" value="" cols="3" class="form-control" style="resize: vertical; height: 100px;" placeholder="Enter description" cols="5" required>{{boardDescription}}</textarea>
                                                        <br>
                                                        <button type="submit" class="btn btn-login btn-green"><span>Update</span></button>
                                                        &nbsp;&nbsp;
                                                        <button type="button" class="btn btn-login btn-green">
                                                            <span>Cancel</span>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let boardBtn = document.getElementById('boardBtn');
    boardBtn.addEventListener("submit", function(e){
        e.preventDefault();
    });
</script>
{% endblock content %}