{% extends 'base.html' %}
{% load static %}
{% block title %} Homepage | {{block.super}} {% endblock %}
{% block topbar %} {% endblock %}
{% block content %}
{% load boardTags %}
<style>
    .test:after {
        content: '\2807';
        font-size: 25px;
    }
</style>
<div class="section section-padding courses">
    <div class="container">
        
        <div class="courses-wrapper">
            <!-- Nav tabs-->
            <div class="row top-content">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ul role="tablist" class="nav nav-tabs edugate-tabs">
                        <li role="presentation" class="active"><a href="#campus" data-toggle="tab" class="text h4">Created By You</a></li>
                        <li role="presentation"><a href="#education" data-toggle="tab" class="text h4">Joined By You</a></li>
                        <li role="presentation"><a href="#invitations" data-toggle="tab" class="text h4">Invitations</a></li>
                    </ul>
                </div>
                <div class="col-md-3"></div>

            </div>
            <!-- Tab panes-->
            <div class="tab-content courses-content">
                <div id="campus" role="tabpanel" class="tab-pane fade in active">
                    <div class="style-show style-grid row">

                        {% if boardsCreated %}
                            {% for board in boardsCreated %}
                                <div class="panel panel-default col-md-4 hvr-float" style="border: solid 1px #86bc42; margin-left: 5px; max-width: 35rem; height: 320px;">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading" style="text-transform: capitalize;">
                                        <a href="{% url 'board_details' boardId=board.boardId %}">
                                            <h3>{{ board.boardTitle }}</h3>
                                        </a>
                                    </div>
                                    <div class="panel-body">
                                        <div>
                                            <i class="fa fa-user"></i>
                                                    &nbsp; {{ board|totalBoardMembers }} &nbsp; | &nbsp; {{ board.createdOn|date:'d-m-Y' }}  
                                        </div>
                                        <br>
                                        <div class="tag-item">
                                            <span class="label label-default">{{ board.boardType }}</span>
                                        </div>
                                        <hr>
                                        <div style="font-size: 1.3rem;" class="board-desc">
                                            <h4 style="line-height: 1.5;">{{ board.boardDescription }}</h4>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            
                            <div class="col-style">
                                <div class="edugate-layout-2">
                                    <div class="edugate-layout-2-wrapper">
                                        <div class="edugate-content">
                                            <br><br>
                                            <h3 class="title">You have not created any boards.</h3>
                                            <br>
                                            <div class="description text-justify">
                                                
                                            <h3>Start by creating your own board.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
                <div id="education" role="tabpanel" class="tab-pane fade">
                    <div class="style-show style-grid row">

                        {% if boardsJoined %}
                            {% for board in boardsJoined %}

                                <!-- <div class="col-md-1"></div> -->
                                <div class="panel panel-default col-md-4 hvr-float" style="border: solid 1px #86bc42; margin-left: 5px; max-width: 35rem; height: 340px;">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading" style="text-transform: capitalize;">
                                        <a href="{% url 'board_details' boardId=board.boardId %}">
                                        <h3>{{ board.boardTitle }}</h3>
                                        </a>
                                    </div>
                                    <div class="panel-body">
                                        <div>
                                            <i class="fa fa-user"></i>
                                            &nbsp; {{ board|totalBoardMembers }} &nbsp; | &nbsp; {{ board.createdOn|date:'d-m-Y' }}  
                                        </div>
                                        <div class="panel-body">
                                            <span class="label label-default">{{ board.boardType }}</span>
                                            <br>
                                            Role: {{ board|memberRole:user }}
                                                
                                        </div>
                                        <hr>
                                        <div style="font-size: 1.3rem" class="board-desc">
                                            <h4 style="line-height: 1.5;">{{ board.boardDescription }}</h4>
                                        </div>
                                    </div>
                                </div>
                                
                            {% endfor %}
                         {% else %}
                            
                            <div class="col-style">
                                <div class="edugate-layout-2">
                                    <div class="edugate-layout-2-wrapper">
                                        <div class="edugate-content">
                                            <br><br>
                                            <h3 class="title">You have not Joined any boards.</h3>
                                            <br>
                                            <div class="description text-justify">
                                            <h3>Start by joining with code.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="invitations" role="tabpanel" class="tab-pane fade">
                    <div class="style-show style-grid row">
                        {% if pendingInvitations %}
                        {% for invitation in pendingInvitations %}
                            <div class="panel panel-default col-md-4" style="border: solid 1px #86bc42; margin-left: 5px; max-width: 35rem;">
                                      <!-- Default panel contents -->
                                <div class="panel-heading">
                                <h4 style="line-height: 1.5;"><i>{{ invitation.board.createdBy.first_name }} {{ invitation.board.createdBy.last_name }}</i> has invited you to join board <i style="color: red;">{{ invitation.board.boardTitle }}</i> As <i>{{ invitation.role }}</i>
                                </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="tag-item">
                                        Type: {{ invitation.board.boardType }}
                                    </div><br>
                                    <div>
                                        <button type="button" class="btn btn-login btn-green" id="acceptInvitationBtn" onclick="acceptInvitation(this)" value="{% url 'accept_invitation' boardInvitationId=invitation.id %}"><span>Accept</span></button>
                                        <button type="button" class="btn btn-login btn-green" id="rejectInvitationBtn" onclick="rejectInvitation(this)" value="{% url 'reject_invitation' boardInvitationId=invitation.id %}"><span>Reject</span></button>
                                    </div>
                                  </div>
                            </div>
                        {% endfor %}
                        {% else %}
                            
                            <div class="col-style">
                                <div class="edugate-layout-2">
                                    <div class="edugate-layout-2-wrapper">
                                        <div class="edugate-content">
                                            <br><br>
                                            <h3 class="title">No New Invitations!!</h3>
                                            <br>
                                            <div class="description text-justify" style="max-width: 35rem;">
                                                <h3>You will see invitations here when someone invites you.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Limit Board Description
    function truncateText(element, maxLength) {
        let truncated = element.innerText;
        if (truncated.length > maxLength) {
            truncated = truncated.substr(0, maxLength) + '...';
        }
        //return truncated;
        element.innerText = truncated;
    }
    let countBDesc = document.querySelectorAll('.board-desc h4');
    for(let i=0; i<countBDesc.length; i++)
    {
        truncateText(countBDesc[i], 90);
    }
    // $('#acceptInvitationBtn').click(function()
    function acceptInvitation(_this)
    {
        var token = '{{csrf_token}}';
        $.ajax(
        {
            headers: { "X-CSRFToken": token },
            type:"POST",
            url: $(_this).val(),
            data:{
                    
            },
            success: function( data ) 
            {
                //alert("Accepted successfully");
                swal("You've accepted the invitation",'Invitation Accepted!','success');
                setTimeout(function() {location.reload();}, 2500);
            }
         })
    };
    // $('#rejectInvitationBtn').click(function()
    function rejectInvitation(_this)
    {
        var token = '{{csrf_token}}';
        $.ajax(
        {
            headers: { "X-CSRFToken": token },
            type:"POST",
            url: $(_this).val(),
            data:{
                    
            },
            success: function( data ) 
            {
                //alert("Rejected successfully");
                swal("You've rejected the invitation","Invitation Rejected!",'warning');
                setTimeout(function() {location.reload();}, 2500);
            }
         })
    };
</script>
{% endblock content %}