{% extends 'base.html' %}
{% load static %}
{% block title %} Homepage | {{block.super}} {% endblock %}
{% block topbar %} {% endblock %}
{% block content %}
{% load boardTags %}
<div class="section section-padding courses">
    <div class="container">
        
        <div class="courses-wrapper">
            <!-- Nav tabs-->
            <div class="row top-content">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <ul role="tablist" class="nav nav-tabs edugate-tabs">
                        <li role="presentation" class="active"><a href="#campus" data-toggle="tab" class="text h5">Created By You</a></li>
                        <li role="presentation"><a href="#education" data-toggle="tab" class="text h5">Joined By You</a></li>
                    </ul>
                </div>
                <div class="col-md-4"></div>

            </div>
            <!-- Tab panes-->
            <div class="tab-content courses-content">
                <div id="campus" role="tabpanel" class="tab-pane fade in active">
                    <div class="style-show style-grid row">
                        
                        {% if boardsCreated %}
                            {% for board in boardsCreated %}
                                <div class="panel panel-default col-md-4" style="border: solid 1px #86bc42; margin-left: 5px; max-width: 35rem;">
                                      <!-- Default panel contents -->
                                      <div class="panel-heading">
                                        <a href="{% url 'board_details' boardId=board.boardId %}">
                                        <h3>{{ board.boardTitle }}</h3>
                                        </a>
                                      </div>
                                          <div class="panel-body">
                                            <div>
                                                <i class="fa fa-user"></i>
                                                     &nbsp; {{ board|totalBoardMembers }} &nbsp; | &nbsp; {{ board.createdOn|date:'d-m-Y' }}  
                                            </div>
                                            <br>
                                            <div class="tag-item">
                                                Type: {{ board.boardType }}
                                            </div>
                                            <div style="font-size: 1.3rem">
                                                <h4>{{ board.boardDescription }}</h4>
                                            </div>
                                          </div>
                                </div>
                                
                            {% endfor %}
                        {% else %}
                            
                            <div class="col-style">
                                <div class="edugate-layout-2">
                                    <div class="edugate-layout-2-wrapper">
                                        <div class="edugate-content">
                                            <br><br>
                                            <h3 class="title">You have not created any boards.</h3>
                                            <br>
                                            <div class="description text-justify">
                                                
                                            <h3>Start by creating your own board.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
                <div id="education" role="tabpanel" class="tab-pane fade">
                    <div class="style-show style-grid row">

                        {% if boardsJoined %}
                            {% for board in boardsJoined %}
                                <!-- <div class="col-md-1"></div> -->
                                <div class="panel panel-default col-md-4" style="border: solid 1px #86bc42; margin-left: 5px; max-width: 35rem;">
                                      <!-- Default panel contents -->
                                      <div class="panel-heading">
                                        <a href="{% url 'board_details' boardId=board.boardId %}">
                                        <h3>{{ board.boardTitle }}</h3>
                                        </a>
                                    </div>
                                          <div class="panel-body">
                                            <div>
                                                <i class="fa fa-user"></i>
                                                     &nbsp; {{ board|totalBoardMembers }} &nbsp; | &nbsp; {{ board.createdOn|date:'d-m-Y' }}  
                                            </div>
                                            <div class="panel-body">
                                                Type: {{ board.boardType }} | 
                                                Role: {{ board|memberRole:user }} 
                                            </div>
                                            <br>
                                            <div style="font-size: 1.3rem">
                                                <h4>{{ board.boardDescription }}</h4>
                                            </div>
                                          </div>
                                </div>
                                
                            {% endfor %}
                         {% else %}
                            
                            <div class="col-style">
                                <div class="edugate-layout-2">
                                    <div class="edugate-layout-2-wrapper">
                                        <div class="edugate-content">
                                            <br><br>
                                            <h3 class="title">You have not Joined any boards.</h3>
                                            <br>
                                            <div class="description text-justify">
                                            <h3>Start by joining with code.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}