{% extends 'base.html' %}
{% load static %}
{% block title %} Manage Permissions | {{block.super}} {% endblock %}
{% block topbar %} {% endblock %}
{% block content %}
{% load accessTags %}
{% load hasAccessTags %}
{% with boardMember|currentAccesses as currentAccesses %}
{% with board|getUsersAccessRights:user as hasRight %}


<div class="section section-padding profile-teacher">
	<div class="container">
		<div class="profile-teacher-wrapper">
			<div class="teacher-info">
					<div class="teacher-des">
						<div class="title">
							{{ boardMember.user.first.first_name }} 
							{{ boardMember.user.first.last_name }}
						</div>
						<a href="{% url 'board_details' boardId=boardMember.boardId.first.boardId %}">
						<h4 style="color: #86BC42;">
							{{ boardMember.boardId.first.boardTitle }}
						</h4>
						</a>
						
						<div class="subtitle">
								<span>{{ boardMember.role.role }}</span>
						</div>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="certificate-title underline" style="margin-top: -50px;">
					Permissions
				</div>
				<div class="course-table" style="margin-bottom: 50px;">
					<div class="table-header">
							<table class="edu-table-responsive">
									<thead>
									<tr class="heading-table">
											<th class="col-1">Permission</th>
											<th class="col-4">Status</th>
									</tr>
									</thead>
							</table>
					</div>
					<div class="table-body">
							<table class="edu-table-responsive table-hover">
									<tbody>														
									{% if hasRight.CHANGE_PERMISSION and boardMember.user.first != user and boardMember.isAdmin == False %}
										{% for right in accessRights %}
											<tr class="table-row" style="text-transform:capitalize;">
													<td class="col-1" style="padding-left: 20px;">
														<h4> {{ right }} </h4>
													</td>
													<td class="col-4">
														<h4><input type="checkbox" name="accessRight" value="{{ right.id }}"
															class="access_right_class"
														{% if currentAccesses|hasAccess:right %} checked {% endif %}></h4>
													</td>
											</tr>
										{% endfor %}
									{% else %}
										{% for right in accessRights %}
											{% if currentAccesses|hasAccess:right %}
											<h4> {{ right }} </h4>
											{% endif %}
										{% endfor %}
									{% endif %}
									{% endwith %}
									{% endwith %}
									</tbody>
							</table>
					</div>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>

<script>
      $(".access_right_class").change(function()
      {
        	var isChanged = $(this).is(':checked') ? 1 : 0;
        	var accessRightId = $(this).val();
        	var boardMemberId = "{{ boardMember.id }}";
        	if(isChanged)
        	{
        		var token = '{{csrf_token}}';
        		console.log(token);
		        $.ajax(
		        {
		            headers: { "X-CSRFToken": token },
		            type:"POST",
		            url: "{% url 'grant_right' %}",
		            data:{
		                accessRightId: accessRightId,
						boardMemberId: boardMemberId,
		            },
		            success: function( data ) 
		            {
						//alert("Right Granted");
						swal("Permission Granted!!!",'','success');
		            }
		         });
        	}
        	else
        	{
        		var token = '{{csrf_token}}';
        		console.log(token);
		        $.ajax(
		        {
		            headers: { "X-CSRFToken": token },
		            type:"POST",
		            url: "{% url 'revoke_right' %}",
		            data:{
		                accessRightId: accessRightId,
						boardMemberId: boardMemberId,
		            },
		            success: function( data ) 
		            {
						//alert("Right Revoked");
						swal("Permission Revoked!!!",'','warning');
		            }
		         });
        	}
      });
</script>
{% endblock content %}