{% load static %}
{% url 'home' as nav_home %}
{% url 'contact' as nav_contact %}
{% block footer %}
<footer>
    <div class="footer-main navbar-fixed-bottom animated fadeIn">
        <div class="container">
            <div class="hyperlink">
                <div class="pull-left hyper-left">
                    <ul class="list-inline">
                        <li class="hvr hvr-grow"><a href="{{nav_home}}">HOME</a></li>
                        <li class="hvr hvr-grow"><a href="{{nav_contact}}">CONTACT</a></li>
                    </ul>
                </div>
                <div class="pull-right hyper-right hvr hvr-grow">
                    Copyright @
                    <script>
                        let d = new Date().getFullYear();
                        document.write(d);
                    </script>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}