{% load static %}
{% url 'login' as nav_login %}
{% url 'register' as nav_register %}
{% url 'home' as nav_home %}
{% url 'profile' as nav_profile %}
{% url 'resetPass' as nav_reset_password %}
<div class="header-main homepage-01">
    <div class="container">
        <div class="header-main-wrapper">
            <div class="navbar-header">
                <div class="logo pull-left hvr-grow">
                    <a href="{{nav_home}}" class="header-logo">
                        <img src="{% static 'assets/images/logo.png' %}" style="height: 80px; width: 80px;" alt=""/>
                    </a>
                </div>
                <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle edugate-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <nav class="navigation collapse navbar-collapse pull-right">
                <ul class="nav-links nav navbar-nav">
                    <li class="hvr-grow"><a href="{% url 'home' %}" class="main-menu">Home</a></li>
                    <li class="dropdown hvr-grow"><a href="javascript:void(0)" class="main-menu">Board<span class="fa fa-angle-down icons-dropdown"></span></a>
                        <ul class="dropdown-menu edugate-dropdown-menu-1">
                            <li>
                                <a class="link-page" data-toggle="modal" id="createBoardBtn" data-target="#createBoardModal">Create</a>
                            </li>
                            <li>
                                <a class="link-page" id="joinBoardBtn" data-toggle="modal" data-target="#joinBoardModal">Join</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown hvr-grow"><a href="javascript:void(0)" class="main-menu">Account<span class="fa fa-angle-down icons-dropdown"></span></a>
                        <ul class="dropdown-menu edugate-dropdown-menu-1">
                            <li><a href="{% url 'profile' %}" class="link-page">Profile</a></li>
                            <li><a href="{% url 'reset_password' %}" class="link-page">Reset Password</a></li>
                            <li><a href="{% url 'logout' %}" class="link-page">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Create board modal -->
<div class="modal" id="createBoardModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Create Board</h3>
        </div>
        <div class="modal-body row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form action="{% url 'create_board' %}" method="POST" id="createBoardForm">
                    {% csrf_token %}
                    <label for="id_title" class="control-label form-label">Board Title: <span class="highlight">*</span></label>
                    <input type="text" name="boardTitle" id="id_title" placeholder="Eg. Core JAVA or Group Project" class="form-control form-input" required>
                    <br>
                    <label for="id_description" class="control-label form-label">Board Description: </label>
                    <textarea name="boardDescription" id="id_description" cols="30" rows="5" class="form-control form-input"></textarea>
                    <br>
                    <label for="id_board_type" class="control-label form-label">Board Type: <span class="highlight">*</span></label>
                    <select name="boardType" id="id_board_type" class="form-control form-input" required>
                        <option value="" disabled selected>Select Board Type</option>
                        {% for board in boardTypes %}
                            <option value="{{ board.boardTypeId }}">{{ board.boardType }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button type="submit" data-target="#createBoardModal" class="btn btn-login btn-green" id="createButton"><span>Create</span></button>
                    <br>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
  function submit_create_board_form() {
    document.getElementById("createBoardForm").submit();
   }    
</script>

<!-- join board modal -->
<div class="modal fade" id="joinBoardModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Join Board</h3>
        </div>
        <div class="modal-body row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form action="{% url 'join_board' %}" method="POST" id="joinBoardForm">
                    {% csrf_token %}
                    <label for="id_title" class="control-label form-label">Board Code: <span class="highlight">*</span></label>
                    <input type="text" name="token" id="id_title" placeholder="enter code here" class="form-control form-input" required>
                    <br>

                    <button type="submit" data-target="#joinBoardModal" class="btn btn-login btn-green" id="joinButton"><span>Join</span></button>
                    <br>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
    let createBoardForm = document.getElementById('createBoardForm');
    let joinBoardForm = document.getElementById('joinBoardForm');

    createBoardForm.addEventListener('submit', function(e){});
    joinBoardForm.addEventListener('submit', function(e){});
</script>